@{
    ViewBag.Title = "Home";
}

<div class="bd-pageheader">
    <div class="container">
        <h1>Beer Recipes</h1>
        <p class="lead">
            Search for specific beer recipes/ingredients or add your own!
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Find a recipe">
                <div class="input-group-btn">

                    <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recipes<span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#" data-id="0">Recipes</a></li>
                        <li><a href="#" data-id="1">Ingredients</a></li>
                    </ul>
                    <button type="button" id="searchButton" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    <button type="button" class="btn btn-primary" id="addRecipe" data-toggle="modal" data-target="#myModal">Add Your Own Recipe</button>

               </div><!-- /btn-group -->
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>

    <div class="row p-y-15">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" id="recipe-table">
                <div class="panel-heading">
                    <h2 class="panel-title">Recipes</h2>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled"></ul>
                </div>
            </div>
            <div class="alert alert-danger" style="display:none;"></div>
        </div>
    </div><!-- /row -->
</div><!-- /container-->



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add a recipe</h4>
            </div>

            <div class="modal-body">
                <div class="input-group input-group-outer">
                    <input type="text" class="form-control p-y-5" id="modal-recipe-name" placeholder="Name of recipe">
                    <input type="text" class="form-control p-y-5" id="modal-recipe-description" placeholder="Description of recipe">

                    <div class="input-group input-group-inner p-y-5 clear-right">
                        <input type="text" class="form-control ingredient-input" placeholder="Add an ingredient">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default modal-add-ingredient" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus-sign"></span></button>
                            <!-- /btn-group -->
                        </span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modal-save-recipe">Save recipe</button>
            </div>

        </div>
    </div>
</div>
